In [53]:
import pandas as pd

In [54]:
ind_det=pd.read_csv('/content/ind_det.csv')
ind_det_credit_debts= pd.read_csv('/content/ind_det_credit_debts.csv')
ind_det_debts =pd.read_csv('/content/ind_det_debts.csv')
ind_det_expenses = pd.read_csv('/content/ind_det_expenses.csv')
ind_det_incomes= pd.read_csv('/content/ind_det_incomes.csv')

In [55]:
credit_debts_n_debts = ind_det_credit_debts.merge(ind_det_debts)

In [57]:
credit_debts_n_debts.head()

,inquiry_id,ind_det_credit_debts_balance,ind_det_debts_interestRate,ind_det_debts_currentBalancet,ind_det_debts_monthlyPayment,ind_det_debts_originalAmount
0,3b686117-5f64-4b77-800f-f8659c09da61,[231200],[4.99],[836500],[53900],[3399900]
1,885016e6-da8d-45d1-a2ac-750b3ea4195c,"[127783, 138179, 133587]","[12.67174697328973, 4.719429640457939, 4.16270...","[1555479, 5250931, 4567936, 572292]","[43208, 23030, 126887, 4336]","[2603567, 5692357, 4745809, 948549]"
2,8eef7d77-c284-4b09-843a-047dd7e18f40,[1882103],[7.757329560702783],[979973],[16333],[4034197]
3,3e352196-a827-46ad-9d03-9e84b177fa3a,"[200694, 263705, 409472]",[9.719433611338856],[7363507],[153406],[8880918]
4,7af7fac9-4391-4d7f-8809-1e9d56a1b6af,"[732695, 453561, 543755]","[6.252728319777652, 13.880071759023533, 9.6130...","[1353273, 246810, 1366188, 2140868]","[112773, 10284, 56925, 35681]","[3794866, 2550688, 1391587, 3839112]"

In [58]:
credit_debts_n_debts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   inquiry_id                     612 non-null    object
 1   ind_det_credit_debts_balance   612 non-null    object
 2   ind_det_debts_interestRate     612 non-null    object
 3   ind_det_debts_currentBalancet  612 non-null    object
 4   ind_det_debts_monthlyPayment   612 non-null    object
 5   ind_det_debts_originalAmount   612 non-null    object
dtypes: object(6)
memory usage: 28.8+ KB

In [59]:
expenses_n_incomes = ind_det_expenses.merge(ind_det_incomes)

In [60]:
expenses_n_incomes.head()

,inquiry_id,ind_det_expenses_monthlyAmount,ind_det_incomes_tyoe,ind_det_incomes_amount
0,3b686117-5f64-4b77-800f-f8659c09da61,[120000],['W-2'],[950000]
1,885016e6-da8d-45d1-a2ac-750b3ea4195c,"[24103, 27009, 17551, 23498, 13431]",['investment'],[4436612]
2,8eef7d77-c284-4b09-843a-047dd7e18f40,"[150099, 389851]","['freelance', 'salary', 'freelance']","[9232498, 23918772, 10092707]"
3,3e352196-a827-46ad-9d03-9e84b177fa3a,"[12427, 41407, 20096]","['bonus', 'bonus', 'bonus']","[2583183, 2754243, 3193742]"
4,7af7fac9-4391-4d7f-8809-1e9d56a1b6af,"[26223, 10871]","['freelance', 'bonus', 'freelance']","[2471612, 252906, 8757037]"

In [61]:
expenses_n_incomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   inquiry_id                      612 non-null    object
 1   ind_det_expenses_monthlyAmount  612 non-null    object
 2   ind_det_incomes_tyoe            612 non-null    object
 3   ind_det_incomes_amount          612 non-null    object
dtypes: object(4)
memory usage: 19.3+ KB

In [62]:
credit_debts_n_debts_n_expenses_n_incomes = credit_debts_n_debts.merge(expenses_n_incomes)

In [63]:
credit_debts_n_debts_n_expenses_n_incomes.head()

,inquiry_id,ind_det_credit_debts_balance,ind_det_debts_interestRate,ind_det_debts_currentBalancet,ind_det_debts_monthlyPayment,ind_det_debts_originalAmount,ind_det_expenses_monthlyAmount,ind_det_incomes_tyoe,ind_det_incomes_amount
0,3b686117-5f64-4b77-800f-f8659c09da61,[231200],[4.99],[836500],[53900],[3399900],[120000],['W-2'],[950000]
1,885016e6-da8d-45d1-a2ac-750b3ea4195c,"[127783, 138179, 133587]","[12.67174697328973, 4.719429640457939, 4.16270...","[1555479, 5250931, 4567936, 572292]","[43208, 23030, 126887, 4336]","[2603567, 5692357, 4745809, 948549]","[24103, 27009, 17551, 23498, 13431]",['investment'],[4436612]
2,8eef7d77-c284-4b09-843a-047dd7e18f40,[1882103],[7.757329560702783],[979973],[16333],[4034197],"[150099, 389851]","['freelance', 'salary', 'freelance']","[9232498, 23918772, 10092707]"
3,3e352196-a827-46ad-9d03-9e84b177fa3a,"[200694, 263705, 409472]",[9.719433611338856],[7363507],[153406],[8880918],"[12427, 41407, 20096]","['bonus', 'bonus', 'bonus']","[2583183, 2754243, 3193742]"
4,7af7fac9-4391-4d7f-8809-1e9d56a1b6af,"[732695, 453561, 543755]","[6.252728319777652, 13.880071759023533, 9.6130...","[1353273, 246810, 1366188, 2140868]","[112773, 10284, 56925, 35681]","[3794866, 2550688, 1391587, 3839112]","[26223, 10871]","['freelance', 'bonus', 'freelance']","[2471612, 252906, 8757037]"

In [64]:
credit_debts_n_debts_n_expenses_n_incomes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   inquiry_id                      612 non-null    object
 1   ind_det_credit_debts_balance    612 non-null    object
 2   ind_det_debts_interestRate      612 non-null    object
 3   ind_det_debts_currentBalancet   612 non-null    object
 4   ind_det_debts_monthlyPayment    612 non-null    object
 5   ind_det_debts_originalAmount    612 non-null    object
 6   ind_det_expenses_monthlyAmount  612 non-null    object
 7   ind_det_incomes_tyoe            612 non-null    object
 8   ind_det_incomes_amount          612 non-null    object
dtypes: object(9)
memory usage: 43.2+ KB

In [65]:
credit_debts_n_debts_n_expenses_n_incomes_n_ind_det = credit_debts_n_debts_n_expenses_n_incomes.merge(ind_det)

In [66]:
credit_debts_n_debts_n_expenses_n_incomes_n_ind_det.head()

,inquiry_id,ind_det_credit_debts_balance,ind_det_debts_interestRate,ind_det_debts_currentBalancet,ind_det_debts_monthlyPayment,ind_det_debts_originalAmount,ind_det_expenses_monthlyAmount,ind_det_incomes_tyoe,ind_det_incomes_amount,tax_account_connected,has_no_incomes,has_no_expenses,has_no_debts,has_no_credit_debts,years_in_industry,years_as_management,ever_filed_bankruptcy,ongoing_lawsuits,credit_check_consent,citizenship_status
0,3b686117-5f64-4b77-800f-f8659c09da61,[231200],[4.99],[836500],[53900],[3399900],[120000],['W-2'],[950000],0,0,0,0,0,10,7,0,0,1,citizen
1,885016e6-da8d-45d1-a2ac-750b3ea4195c,"[127783, 138179, 133587]","[12.67174697328973, 4.719429640457939, 4.16270...","[1555479, 5250931, 4567936, 572292]","[43208, 23030, 126887, 4336]","[2603567, 5692357, 4745809, 948549]","[24103, 27009, 17551, 23498, 13431]",['investment'],[4436612],0,0,0,0,0,25,30,0,1,1,other
2,8eef7d77-c284-4b09-843a-047dd7e18f40,[1882103],[7.757329560702783],[979973],[16333],[4034197],"[150099, 389851]","['freelance', 'salary', 'freelance']","[9232498, 23918772, 10092707]",0,0,0,0,0,17,8,0,0,1,permanentResident
3,3e352196-a827-46ad-9d03-9e84b177fa3a,"[200694, 263705, 409472]",[9.719433611338856],[7363507],[153406],[8880918],"[12427, 41407, 20096]","['bonus', 'bonus', 'bonus']","[2583183, 2754243, 3193742]",0,0,0,0,0,26,27,1,0,1,other
4,78e22302-3bed-4831-8643-e2f0afc25b21,"[233046, 828660]","[5.87458765026613, 5.727945671079141, 8.824245...","[3542779, 4425641, 717522, 1233064, 5251550]","[17367, 20489, 9966, 6422, 31259]","[8362108, 5317919, 5625414, 7316587, 5984415]","[201413, 76601, 115178, 101111]","['salary', 'freelance']","[19554704, 2599493]",0,0,0,0,0,1,5,0,0,1,citizen

In [67]:
credit_debts_n_debts_n_expenses_n_incomes_n_ind_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 20 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   inquiry_id                      581 non-null    object
 1   ind_det_credit_debts_balance    581 non-null    object
 2   ind_det_debts_interestRate      581 non-null    object
 3   ind_det_debts_currentBalancet   581 non-null    object
 4   ind_det_debts_monthlyPayment    581 non-null    object
 5   ind_det_debts_originalAmount    581 non-null    object
 6   ind_det_expenses_monthlyAmount  581 non-null    object
 7   ind_det_incomes_tyoe            581 non-null    object
 8   ind_det_incomes_amount          581 non-null    object
 9   tax_account_connected           581 non-null    int64
 10  has_no_incomes                  581 non-null    int64
 11  has_no_expenses                 581 non-null    int64
 12  has_no_debts                    581 non-null    int64
 13  has_no_credit_debts             581 non-null    int64
 14  years_in_industry               581 non-null    int64
 15  years_as_management             581 non-null    int64
 16  ever_filed_bankruptcy           581 non-null    int64
 17  ongoing_lawsuits                581 non-null    int64
 18  credit_check_consent            581 non-null    int64
 19  citizenship_status              581 non-null    object
dtypes: int64(10), object(10)
memory usage: 90.9+ KB

In [68]:
credit_debts_n_debts_n_expenses_n_incomes_n_ind_det.to_csv("ind_det_final.csv", index=False)

**COMBINED ALL THE DATAFRAMES OF INDIVIDUAL DETAILS AS ONE DATAFRAME**

In [41]:
fund_uses_grouped_new = pd.read_csv('/content/fund_uses_grouped_new.csv')
loan_details_preprocessed = pd.read_csv('/content/loan_details_preprocessed.csv')

In [43]:
fund_uses_grouped_new.head()

,inquiry_id,fund_use_list,fund_amount_list,fund_use_count,total_fund_amount
0,0068621e-199e-4126-a10f-cff3f3219812,"['Working Capital', 'Technology Upgrade', 'Mar...","[813064.0, 2820834.0, 4587263.0, 558427.0, 367...",6,43152416.0
1,0165411a-6390-4445-9db5-6481e7e61a19,"['Research and Development', 'Technology Upgra...","[2264555.0, 2532429.0, 2358288.0, 5907549.0, 5...",6,52578961.0
2,019e8ccf-1214-4da4-8059-b7927029a885,"['Technology Upgrade', 'Staff Hiring']","[1635482.0, 47463272.0]",2,49098754.0
3,01c0c7f0-aed6-488c-8344-408f8ce3186e,"['Technology Upgrade', 'Staff Hiring', 'Resear...","[6757785.0, 4391235.0, 2235530.0, 8536606.0, 2...",6,82380066.0
4,02155bb7-f18f-4dd8-abd1-a1f448f0cd2d,"['Working Capital', 'Equipment Purchase']","[637055.0, 98788396.0]",2,99425451.0

In [42]:
fund_uses_grouped_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   inquiry_id         612 non-null    object
 1   fund_use_list      612 non-null    object
 2   fund_amount_list   612 non-null    object
 3   fund_use_count     612 non-null    int64
 4   total_fund_amount  612 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 24.0+ KB

In [44]:
loan_details_preprocessed.head()

,inquiry_id,equity_injection,business_purchase_price,is_providing_collateral,is_interested_in_refinancing_existing_debt,total_fund_amount,fund_use_count,fund_use_list,fund_amount_list
0,987cd4c4-130d-410c-a63d-406af4799a02,4126808,0.0,1,0,58364411.0,3,"['Research and Development', 'Staff Hiring', '...","[1576143.0, 2021657.0, 54766611.0]"
1,4003f4e9-3348-4c4a-a4a3-02b1db46441e,19373108,0.0,1,0,70164366.0,5,"['Technology Upgrade', 'Inventory', 'Office Ex...","[2486762.0, 6582644.0, 649470.0, 8214161.0, 52..."
2,6da42ae5-917e-4e1e-b517-d908512bf970,23468320,0.0,0,0,84978360.0,3,"['Office Expansion', 'Staff Hiring', 'Inventory']","[5537753.0, 2767351.0, 76673256.0]"
3,26f6423c-5e97-4de0-8267-54d05a039390,715218,3374611.0,1,0,4548005.0,2,"['Technology Upgrade', 'Staff Hiring']","[500000.0, 4048005.0]"
4,c8952f1f-19bb-415e-86da-c10cbbf70e27,3512968,0.0,0,0,14855724.0,4,"['Working Capital', 'Marketing', 'Research and...","[504296.0, 1620758.0, 611468.0, 12119202.0]"

In [69]:
loan_details_preprocessed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 9 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   inquiry_id                                  612 non-null    object
 1   equity_injection                            612 non-null    int64
 2   business_purchase_price                     612 non-null    float64
 3   is_providing_collateral                     612 non-null    int64
 4   is_interested_in_refinancing_existing_debt  612 non-null    int64
 5   total_fund_amount                           612 non-null    float64
 6   fund_use_count                              612 non-null    int64
 7   fund_use_list                               612 non-null    object
 8   fund_amount_list                            612 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 43.2+ KB

In [70]:
ind_det_n_loan_det = credit_debts_n_debts_n_expenses_n_incomes_n_ind_det.merge(loan_details_preprocessed)

In [71]:
ind_det_n_loan_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 28 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   inquiry_id                                  581 non-null    object
 1   ind_det_credit_debts_balance                581 non-null    object
 2   ind_det_debts_interestRate                  581 non-null    object
 3   ind_det_debts_currentBalancet               581 non-null    object
 4   ind_det_debts_monthlyPayment                581 non-null    object
 5   ind_det_debts_originalAmount                581 non-null    object
 6   ind_det_expenses_monthlyAmount              581 non-null    object
 7   ind_det_incomes_tyoe                        581 non-null    object
 8   ind_det_incomes_amount                      581 non-null    object
 9   tax_account_connected                       581 non-null    int64
 10  has_no_incomes                              581 non-null    int64
 11  has_no_expenses                             581 non-null    int64
 12  has_no_debts                                581 non-null    int64
 13  has_no_credit_debts                         581 non-null    int64
 14  years_in_industry                           581 non-null    int64
 15  years_as_management                         581 non-null    int64
 16  ever_filed_bankruptcy                       581 non-null    int64
 17  ongoing_lawsuits                            581 non-null    int64
 18  credit_check_consent                        581 non-null    int64
 19  citizenship_status                          581 non-null    object
 20  equity_injection                            581 non-null    int64
 21  business_purchase_price                     581 non-null    float64
 22  is_providing_collateral                     581 non-null    int64
 23  is_interested_in_refinancing_existing_debt  581 non-null    int64
 24  total_fund_amount                           581 non-null    float64
 25  fund_use_count                              581 non-null    int64
 26  fund_use_list                               581 non-null    object
 27  fund_amount_list                            581 non-null    object
dtypes: float64(2), int64(14), object(12)
memory usage: 127.2+ KB

**COMBINED ALL THE DATAFRAMES INDIVIDUAL DETAILS AND LOAN DETAILS AS ONE DATAFRAME**

In [72]:
inq = pd.read_csv('/content/inq.csv')

In [75]:
inq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 24 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   id                                                      612 non-null    object
 1   status                                                  612 non-null    object
 2   type                                                    612 non-null    object
 3   loan_amount                                             612 non-null    int64
 4   is_buying_business                                      612 non-null    int64
 5   is_primarily_selling_or_providing_services              612 non-null    int64
 6   is_operating_for_profit                                 612 non-null    int64
 7   is_primarily_lending_business                           612 non-null    int64
 8   is_pyramid_sale_distribution_plan                       612 non-null    int64
 9   is_deriving_gambling_revenue                            612 non-null    int64
 10  is_engaged_in_illegal_activity                          612 non-null    int64
 11  is_private_club_with_limited_membership                 612 non-null    int64
 12  is_government_owned_entity                              612 non-null    int64
 13  is_loan_packager                                        612 non-null    int64
 14  is_associate_with_criminal_history                      612 non-null    int64
 15  is_equity_owned_by_lender_or_cdc                        612 non-null    int64
 16  is_presenting_prurient_performances                     612 non-null    int64
 17  is_defaulted_on_federal_loan                            612 non-null    int64
 18  is_engaged_in_political_or_lobbying_activities          612 non-null    int64
 19  is_speculative_in_nature                                612 non-null    int64
 20  is_primarily_earning_from_rent_interest_or_investments  612 non-null    int64
 21  is_for_profit_subsidiary_of_nonprofit                   612 non-null    int64
 22  is_pawn_shop                                            612 non-null    int64
 23  is_owned_or_controlled_by_native_american_tribe         612 non-null    int64
dtypes: int64(21), object(3)
memory usage: 114.9+ KB

In [76]:
inq = inq.rename(columns={"id": "inquiry_id"})

In [77]:
inq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 612 entries, 0 to 611
Data columns (total 24 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   inquiry_id                                              612 non-null    object
 1   status                                                  612 non-null    object
 2   type                                                    612 non-null    object
 3   loan_amount                                             612 non-null    int64
 4   is_buying_business                                      612 non-null    int64
 5   is_primarily_selling_or_providing_services              612 non-null    int64
 6   is_operating_for_profit                                 612 non-null    int64
 7   is_primarily_lending_business                           612 non-null    int64
 8   is_pyramid_sale_distribution_plan                       612 non-null    int64
 9   is_deriving_gambling_revenue                            612 non-null    int64
 10  is_engaged_in_illegal_activity                          612 non-null    int64
 11  is_private_club_with_limited_membership                 612 non-null    int64
 12  is_government_owned_entity                              612 non-null    int64
 13  is_loan_packager                                        612 non-null    int64
 14  is_associate_with_criminal_history                      612 non-null    int64
 15  is_equity_owned_by_lender_or_cdc                        612 non-null    int64
 16  is_presenting_prurient_performances                     612 non-null    int64
 17  is_defaulted_on_federal_loan                            612 non-null    int64
 18  is_engaged_in_political_or_lobbying_activities          612 non-null    int64
 19  is_speculative_in_nature                                612 non-null    int64
 20  is_primarily_earning_from_rent_interest_or_investments  612 non-null    int64
 21  is_for_profit_subsidiary_of_nonprofit                   612 non-null    int64
 22  is_pawn_shop                                            612 non-null    int64
 23  is_owned_or_controlled_by_native_american_tribe         612 non-null    int64
dtypes: int64(21), object(3)
memory usage: 114.9+ KB

In [78]:
ind_det_n_loan_det_n_inq = ind_det_n_loan_det.merge(inq)

In [79]:
ind_det_n_loan_det_n_inq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 581 entries, 0 to 580
Data columns (total 51 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   inquiry_id                                              581 non-null    object
 1   ind_det_credit_debts_balance                            581 non-null    object
 2   ind_det_debts_interestRate                              581 non-null    object
 3   ind_det_debts_currentBalancet                           581 non-null    object
 4   ind_det_debts_monthlyPayment                            581 non-null    object
 5   ind_det_debts_originalAmount                            581 non-null    object
 6   ind_det_expenses_monthlyAmount                          581 non-null    object
 7   ind_det_incomes_tyoe                                    581 non-null    object
 8   ind_det_incomes_amount                                  581 non-null    object
 9   tax_account_connected                                   581 non-null    int64
 10  has_no_incomes                                          581 non-null    int64
 11  has_no_expenses                                         581 non-null    int64
 12  has_no_debts                                            581 non-null    int64
 13  has_no_credit_debts                                     581 non-null    int64
 14  years_in_industry                                       581 non-null    int64
 15  years_as_management                                     581 non-null    int64
 16  ever_filed_bankruptcy                                   581 non-null    int64
 17  ongoing_lawsuits                                        581 non-null    int64
 18  credit_check_consent                                    581 non-null    int64
 19  citizenship_status                                      581 non-null    object
 20  equity_injection                                        581 non-null    int64
 21  business_purchase_price                                 581 non-null    float64
 22  is_providing_collateral                                 581 non-null    int64
 23  is_interested_in_refinancing_existing_debt              581 non-null    int64
 24  total_fund_amount                                       581 non-null    float64
 25  fund_use_count                                          581 non-null    int64
 26  fund_use_list                                           581 non-null    object
 27  fund_amount_list                                        581 non-null    object
 28  status                                                  581 non-null    object
 29  type                                                    581 non-null    object
 30  loan_amount                                             581 non-null    int64
 31  is_buying_business                                      581 non-null    int64
 32  is_primarily_selling_or_providing_services              581 non-null    int64
 33  is_operating_for_profit                                 581 non-null    int64
 34  is_primarily_lending_business                           581 non-null    int64
 35  is_pyramid_sale_distribution_plan                       581 non-null    int64
 36  is_deriving_gambling_revenue                            581 non-null    int64
 37  is_engaged_in_illegal_activity                          581 non-null    int64
 38  is_private_club_with_limited_membership                 581 non-null    int64
 39  is_government_owned_entity                              581 non-null    int64
 40  is_loan_packager                                        581 non-null    int64
 41  is_associate_with_criminal_history                      581 non-null    int64
 42  is_equity_owned_by_lender_or_cdc                        581 non-null    int64
 43  is_presenting_prurient_performances                     581 non-null    int64
 44  is_defaulted_on_federal_loan                            581 non-null    int64
 45  is_engaged_in_political_or_lobbying_activities          581 non-null    int64
 46  is_speculative_in_nature                                581 non-null    int64
 47  is_primarily_earning_from_rent_interest_or_investments  581 non-null    int64
 48  is_for_profit_subsidiary_of_nonprofit                   581 non-null    int64
 49  is_pawn_shop                                            581 non-null    int64
 50  is_owned_or_controlled_by_native_american_tribe         581 non-null    int64
dtypes: float64(2), int64(35), object(14)
memory usage: 231.6+ KB

In [80]:
ind_det_n_loan_det_n_inq.to_csv("ind_det_n_loan_det_n_inq.csv", index=False)